[init]
	defaultBranch = main
[user]
	email = 48549970+glenntippett@users.noreply.github.com
[credential]
	helper = store
[pull]
	rebase = true
[alias]
  sweep = !git branch --merged master | grep -v 'master$' | xargs git branch -d\
          && git remote prune origin